body {
  background: papayawhip;
  margin: 0;
}

.small-container > div {
  border: 0.3em solid brown;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.small-container {
  display: flex;
  flex-grow: 4;
  flex-wrap: wrap;
  justify-content: space-between;
}

.a,
.f {
  max-width: 100%;
  flex-grow: 2;
  flex-basis: 100%;
  border: 0.3em solid brown;
  margin: 0.5em;
  height: 15vh;
}

.b {
  min-height: 45vh;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0.5em;
}

.c,
.d,
.e {
  min-width: 20%;
  min-height: 15vh;
  flex-grow: 1;
  margin: 0.5em;
}

@media (min-width: 600px) {
  .small-container {
    max-width: 70%;
  }

  .f {
    max-width: 30%;
    height: 80vh;
  }
}
